<!-- <header>
    <div class="container">
    <div class="chat">
    <h1>Чат</h1>

    <p>Здесь будет чат.</p>

    <head>
        <meta charset="utf-8">
        <title>Кнопка</title>
    </head>

    <body> -->
        <div id="messages"></div>
        <input [(ngModel)]="name" #ctrl="ngModel" required />
        <p><button (click)="sendMessage()">
                <img src="http://cdn.onlinewebfonts.com/svg/img_518618.png" width="80" height="60"
                    alt="картинка" style="vertical-align:middle">
                Отправить сообщение
            </button></p>
    <!-- </body>
    </div>
</div>
</header> -->