<div class="telo">


            
<!-- <form name="comment" action="comment.php" method="post">
    <p>
        <label>Имя:</label>
        <input type="text" name="name" />
            </p>
            <p>
              <label>Комментарий:</label>
              <br />
              <textarea name="text_comment" cols="30" rows="50"></textarea>
            </p>
            <p>
              <input type="hidden" name="page_id" value="150" />
              <input type="submit" value="Отправить" />
            </p>
</form> -->

  <iframe src="https://comet-server.com/doc/CometQL/htmlChat/index.html" width="910px" height="1060px">
<body><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" ></script>
<script type="text/javascript" src="https://comet-server.ru/CometServerApi.js" ></script>
<script type="text/javascript" src="https://comet-server.ru/doc/html_chat.js" ></script>
<link rel="stylesheet" type="text/css" href="https://comet-server.ru/doc/html_chat.css">

<div id="html-chat">
<!-- <div class="holder-html-chat"><div id="WebChatFormForm" class="html-chat-history"><p><b>Horror: </b>Первое сообщение</p><p><b>Horror: </b>Второе сообщение</p><p><b>: </b></p><p><b>: </b>mnbvbv</p><p><b>nune: </b>barev</p><p><b>: </b>sdsdsd</p><p><b>[fq: </b>хайр<br></p><p><b>[fq: </b>Корманди канд фм ЭХСОН карза мети?  </p><p><b>: </b></p><p><b>ппп: </b>ааа</p><p class="html-chat-msg"><b>f: </b>f</p></div><input type="text" id="WebChatNameID" class="html-chat-js-name" placeholder="Укажите ваше имя..."><textarea id="WebChatTextID" placeholder="Отправьте сообщение в online чат..." class="html-chat-js-input"></textarea><div class="html-chat-js-button-holder"><input type="button" onclick="web_send_msg();" value="Отправить"> <div class="html-chat-js-answer"><a href="https://comet-server.com" id="answer" target="__blank"> undefined</a></div></div></div> -->
</div>
<style>
  /* Здесь настроим css стили для чата*/
  .holder-html-chat{ border: 1px solid #ccc;padding:10px;background-color: #fff;width: 600px;}
  .html-chat-history{ max-width: 600px; overflow: auto;max-height: 900px; border: 1px solid #ccc;padding: 5px;}
  .html-chat-js-name{ margin-top:10px; }
  .html-chat-js-input{ max-width: 600px;max-height: 100px;width: 600px;margin-top:10px; }
  .html-chat-js-button-holder{ margin-bottom: 0px;margin-top: 10px; }
  .html-chat-js-button-holder input{ width: 220px; }
  .html-chat-js-answer{ float:right; }
  .html-chat-js-answer a{ color: #777;font-size: 12px; font-family: cursive;}
  .html-chat-js-answer a:hover{ color: #338;font-size: 12px; font-family: cursive;}
  .html-chat-msg{ margin: 0px; }
  </style>

<script>
 
   $(document).ready(function()
   {
      // Запуск api комет сервера
      CometServer().start({dev_id: 3134}) // Идентификатор разработчика на comet-server.ru

      // Запуск чата. Передаём ему элемент в котором надо создать окно чата.
      htmljs_Chat_Init( $("#html-chat") )
   });
</script>
</body>
</iframe>
</div>