<h1>Hello, student!</h1>
<IMG SRC ='https://www.gifss.com/celebraciones/graduacion/images/graduacion-12.gif'>
<p>Велком на наш великолепный, непревзойдённый  и недоделанный органайзер студента. У нас есть:</p>
<ul>
  <li><a href='https://avatars.mds.yandex.net/get-pdb/1866932/626ff25d-4894-4e14-8930-34d2a78df763/s1200'>Печеньки</a> и <a href='https://s1.1zoom.ru/big3/929/Ice_cream_Raspberry_Closeup_Balls_Multicolor_565992_5500x3660.jpg'>Мороженое</a></li>
  <li><a>Расписание</a> и <a>Чат</a></li>
  <li><a href='https://www.kinopoisk.ru/film/127063/'>Боль и Отчаяние</a></li>
</ul>
<!-- <p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p> -->
