<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Органайзер для студента</title>
    <link rel="stelesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <div class="nav-bar">
      <navi></navi>
      <bluelineactive></bluelineactive>
      <header class="bluerec2">
        <h1>Расписание ИГХТУ</h1>
        <imb><img src="assets/gerb_0.png" width="116px" height="103px"></imb>
      </header>
      <section class="raiting">
        <dashboard>Рейтинг студента</dashboard>
        <smallright><shape><img src="assets/speed.png" width="65px" height="40px" ></shape></smallright>
      </section>
      <horizonline></horizonline>
    </div>
    <div class="top-nav">
      <div class="bar">
       <colocol><img src="assets/colocol.png" width="63px" height="67px"></colocol>
       <message><img src="assets/message.png" width="75px" height="67px"></message>
      </div>
    </div>
    <div class="overwiev">
      <ovdays>Пары в ближайшие дни</ovdays>
      
      <div class="card1">
        <div class="namecard1">

        </div>
        
      </div>
      <ncard1>Первый день</ncard1>
      <div class="card2">
        
      </div>
      <ncard2>Второй день</ncard2>
      <div class="card3">
        
      </div>
    </div>
    <div class="alluser">
    </div>
  </body>
</html>

