.nav-bar{
  position: absolute;
  width: 350px;
  height: 1200px;
  left: 0px;
  top: 0px;

}

h1{
  position: absolute;
  height: 30px;
  left: 36px;
  right: 79px;
  top: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.alluser{
  position: absolute;
  width: 330px;
  height: 557px;
  left: 1211px;
  top: 532px;
  background: #FFFFFF;
  border-radius: 4px;
}

.bluerec2{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 93.33%;
background: #1E87F0;
box-shadow: 0px 8px 30px rgba(30, 135, 240, 0.2);
}

.top-nav{
  position: absolute;
  width: 1250px;
  height: 80px;
  left: 350px;
  top: 0px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(27.1828px);
}

imb{
  position: absolute;
  width: 116px;
  height: 103px;
  left: 248px;
  top: -1px;
}
horizonline{
  position: absolute;
  left: 4.29%;
  right: 4.29%;
  top: 13.58%;
  bottom: 86.17%;

  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #979797;
}
navi{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
}
bluelineactive{
  position: absolute;
  left: 0%;
  right: 98.86%;
  top: 8%;
  bottom: 87.33%;
  
  background: #1E87F0;
}
.raiting{
  position: absolute;
left: 10.29%;
right: 10.57%;
top: 8.75%;
bottom: 87.92%;
}
dashboard{
  position: absolute;
height: 27px;
left: 25.99%;
right: 14.08%;
top: 6px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #000A12;
}

shape{
  position: absolute;
  left: 40%;
  right: 40%;
  top: 0px;
  bottom: 25%;
}
smallright{
  position: absolute;
  left: 0%;
  right: 85.56%;
  top: 0%;
  bottom: 0%;
}
bar{
  position: absolute;
  width: 96px;
  height: 32px;
  left: 391px;
  top: 20px;
}
colocol{
  position: absolute;
  width: 63px;
  height: 67px;
  left: 30px;
  top: 8px;
}
message{
  position: absolute;
  width: 75px;
  height: 67px;
  left: 95px;
  top: 8px;
}
.overwiev{
  position: absolute;
  width: 1170px;
  height: 270px;
  left: 390px;
  top: 111px;
}
ovdays{
  position: absolute;
  height: 70px;
  left: 0%;
  right: 69.4%;
  top: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000A12;
}
.card1{
  position: absolute;
  left: 0%;
  right: 68.38%;
  top: 23.33%;
  bottom: -0.37%;
    
  background: linear-gradient(180deg, #40BCF9 0%, #1E87F0 100%);
  box-shadow: 0px 8px 30px rgba(30, 135, 240, 0.2);
  border-radius: 4px;
}
.namecard1{
  position: absolute;
  left: 0%;
  right: -0.27%;
  top: 0%;
  bottom: 77.88%;
}

.card2{
  position: absolute;
  left: 34.19%;
  right: 34.19%;
  top: 22.96%;
  bottom: 0%;
  
  background: linear-gradient(270deg, #F9D423 0%, #F83600 100%);
  mix-blend-mode: normal;
  border-radius: 4px;
}
.card3{
  position: absolute;
  left: 68.38%;
  right: 0%;
  top: 22.96%;
  bottom: 0%;
  
  background: linear-gradient(0deg, #009EFD -30.65%, #2AF598 100%);
  border-radius: 4px;
}
ncard1{
  position: absolute;
  height: 24px;
  left: 3.85%;
  right: 84.7%;
  top: calc(50% - 24px/2 - 50px);

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
/* identical to box height, or 120% */

  text-align: center;

  color: #FFFFFF;
}