/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
h1 {
  color: rgb(248, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body{
  position: relative;
    width: 1600px;
    height: 1200px;
    background: #F0F0F0;
  }

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: sans-serif;
  font-size: 50px;
}

.link span{
  position: absolute;
  top: -50px;
  left: 0;
  opacity: 0;
  transform: translate(-50%, 50%);
  font-family: sans-serif;
  font-size: 50px;
}
.link:hover span{
  opacity: 0;
  top: -100px;
}
