<h1>Чат</h1>

<p>Здесь будет чат.</p>

<head>
    <meta charset="utf-8">
    <title>Кнопка</title>
   </head>
   <body> 
    <form>
     <p><button>
      <img src="https://www.stickpng.com/assets/images/580b585b2edbce24c47b23ea.png" width="80" height="60" alt="картинка" style="vertical-align:middle"> 
      Открыть чат
     </button></p>
    </form>
   </body>
<!-- <p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button> -->