<div id = "bg">
<h1 id="tableLabel">Расписание</h1>

<p>Здесь будет расписание.</p>

<head>
  <meta charset="utf-8">
  <title>Кнопка</title>
 </head>
 <body> 
  <form  asp-controller="OrganizerForecast" method="Get" action="Get">
    <!-- <input type="hidden" value="@ViewBag.BookId" name="BookId" />  -->
    <!-- https://metanit.com/sharp/mvc5/3.2.php  источник-->
    <p>Введите свою группу</p>
    <input type="string" name="gr" /><br><br>
    
    <input type="submit" value="Получить" />
</form>
 </body>
</div>
